<!-- Page Header -->
{% if page.background %}
<header class="masthead">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            <!--             {% if site.description %}
            {% endif %} -->
            <!-- <span class="subheading">co-located with <a class="heading" href="https://2022.sigmod.org/">SIGMOD</a></span>
            <br />
            <span class="subheading"><strong>June 17, 2022 (Friday) @Philadelphia, PA, USA <br/> <a class = "heading" href= "https://dblp.org/db/conf/tapp/tapp2022.html>">Proceedings</a> </strong></span> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}


        <div class="container-fluid">
          <div class="row-fluid">

            <div class="span12">
              <p>
                <span>The Theory and Practice of Provenance workshop series was started in San Francisco in 2009. TaPP aims to be a venue for early-stage and innovative research ideas related to provenance, and a forum to encourage exchange of ideas
                  between researchers working on provenance and practitioners or potential users of such research. Industry and academic participants interested in provenance in any setting are welcome, and workshop contributions describing unsolved
                  problems or new potential application areas for provenance research are particularly welcome.
              </p>
              <h2>
                Workshop Program
              </h2>
              <br />
              <h4>Coming Soon</h4>
              <br>
              <h2>
                Organizers
              </h2>
              <br />
              <h4>
                Program Committee
              </h4>
              <p><strong>Coming Soon</strong></p>
              <br/>
              <h4>
                PC Chairs
              </h4>
              <br />
              <ul>
                <li>Yuval Moskovitch</li>
                <li>Daniel Deutch</li>
              </ul>
              <br />
              <h4>
                TaPP Steering Committee
              </h4>
              <br />
              <ul>
                <li>Adriane Chapman (chair)</li>
                <li>James Cheney</li>
                <li>Sara Cohen-Boulakia</li>
                <li>Ashish Gehani</li>
                <li>Melanie Herschel</li>
                <li>Bill Howe</li>
                <li>Bertram Ludaescher</li>
                <li>Tanu Malik</li>
                <li>Paolo Missier</li>
                <li>Thomas Moyer</li>
                <li>Thomas Pasquier</li>
                <li>Sudeepa Roy</li>
                <li>Daniel Deutch</li>
              </ul>
              <p>Visit <a href="http://provenanceweek.github.io/ProvenanceWeek2023/">ProvenanceWeek2023</a></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>